.cabecalho
{
    background-color: rgb(242, 48, 132);
    color: rgb(5, 5, 5);
    font-size: 1080px;
}
h2{
    font-size: 35px;
    margin: 0% 400px;
}
h3{
    font-size: 35px;
    color: rgb(207, 43, 136);
    margin: 0% 400px;
}
.imagem{
    width: 650px;
    background-image: linear-gradient();
}
.lista
{
    font-size: 20px;
    margin: 0% 400px;
}
.paragrafo1
{
    color: black;
    font-size: 55px;
}
.paragrafo2
{
    font-size: 50px;
}
.paragrafo3
{
    font-size: 50px;
}
.paragrafo4
{
font-size: 50px;
}
.paragrafo5
{
    font-size: 50px;

}